<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={Phoenix.Controller.get_csrf_token()} />
    <title>LiveCapture</title>

    <% asset_root = @conn.private.live_capture_path %>
    <% asset_nonce = @conn.private.csp_nonce_assign_key %>

    <% style_nonce = asset_nonce[:style] && Map.get(@conn.assigns, asset_nonce[:style]) %>

    <% script_nonce = asset_nonce[:script] && Map.get(@conn.assigns, asset_nonce[:script]) %>
    <% lv_js_hash = LiveCapture.LiveViewAssets.current_hash(:js) %>

    <script src={"#{asset_root}/liveview/js-#{lv_js_hash}"} preload nonce={script_nonce}>
    </script>

    <link rel="stylesheet" href={"#{asset_root}/css/app.css"} nonce={style_nonce} />
    <script src={"#{asset_root}/js/app.js"} defer nonce={script_nonce}>
    </script>
  </head>
  <body>
    {@inner_content}
  </body>
</html>
